%h3  Welcome to Angalia&trade;
%p   
  Angalia allows authorized caregivers to remotely visually
  monitor an elderly individual.
%br
%h6 
  Abilities: &ensp;
  = link_to( "Meeting on &raquo;", "/meeton", { :title => "Start video meeting" } )
  &ensp; or &ensp;
  = link_to( "Meeting off &raquo;", "/meetoff", { :title => "End video meeting" } )
  &ensp; or &ensp;
  = link_to( "Webcam &raquo;", "/camit", { :title => "Monitoring webcam" } )
%h6 
  = link_to( "Settings &raquo;", "/settings", { :title => "Change settings" } )
%br
%br
%br
%br
%i
  Note: This is a working demonstration of Angalia capabilities.
  Click link below and read all disclaimers before proceeding.
%i
  = link_to( "Read Disclaimers &raquo;", "/disclaimers", { :title => "Disclaimers" } )

